@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  background-image: linear-gradient(
    to right top,
    #1a2980 0%,
    #26d0ce 50%,
    #1a2980 100%
  );
  overflow: hidden;
}

input[type="text"],
input[type="number"] {
  padding-left: 10px;
  font-size: 18px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.program {
  max-width: max-content;
  /* height: max-content; */
  border-radius: 25px;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.4);
  margin: 90px auto;
}

.heading {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.group,
.group2 {
  margin-bottom: 20px;
  display: block;
  width: 520px;
}

.group2 {
  display: none;
}

.text,
.text2 {
  font-size: 20px;
  font-weight: bold;
}

#number,
#number-guess {
  margin-top: 20px;
  width: 410px;
  height: 30px;

  outline: none;
  background-color: rgba(182, 182, 182, 0.5);
  border: none;
  border-radius: 20px;
}

.btn-potvrdit,
.btn-guess {
  border: none;
  background: linear-gradient(to right, #26d0ce 20%, #1a2980 100%);
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  vertical-align: middle;
  text-align-last: center;
  outline: none;
  cursor: pointer;
}

.btn-potvrdit[type="submit"]:disabled,
.btn-guess[type="submit"]:disabled {
  background: rgb(221, 221, 221);
  color: rgb(136, 136, 136);
  cursor: auto;
}
